<div>
  <h2>404 | Not Found</h2>
  <h3>
    <a href="/">Regresar</a>
  </h3>
</div>

<style>
  div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
    font-weight: bold;
  }

  h2 {
    margin: 0;
    text-transform: uppercase;
    color: rgb(107 114 128 / 1);
  }

  h3 a {
    font-weight: 500;
    color: rgb(107 114 128 / 1);
  }
</style>
