---
const { title } = Astro.props;
---

<section>
  {title && <h3>{title}</h3>}
  <slot />
</section>

<style>
  section {
    max-width: 750px;
    margin: 0 auto 30px;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 38px;
    }
  }
</style>
